<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap/dist/css/bootstrap.min.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="/">Grocery Store</a>
        </div>
    </nav>

    <div class="container mt-5">
        <h1 class="mb-4">Manager Page</h1>
        <div class="list-group">
            <a href="/section/create" class="list-group-item list-group-item-action">Add a Section</a>
            <a href="/sections" class="list-group-item list-group-item-action">View all Sections</a>
            <a href="/product/create" class="list-group-item list-group-item-action">Add a Product</a>
            <a href="/products" class="list-group-item list-group-item-action">View all Products</a>
        </div>
    </div>

    <!-- Include Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>
