<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
    <div class="container mt-5">
        <h2 class="text-center">Summary for {{ product.product_name }}</h2>
        <div class="text-center">
            <img src="{{ url_for('static', filename='summary.png') }}" alt="Summary Plot" class="img-fluid">
        </div>
    </div>
</body>

</html>