<!DOCTYPE html>
<html>
<head>
    <title>Your Cart</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        {% if user_cart %}
            <h2>My Cart</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in user_cart %}
                        <tr>
                            <td>{{ item.product_name }}</td>
                            <td>{{ item.product_qty }}</td>
                            <td>{{ item.amount }}</td>
                            <td>
                                <a href="/add_to_cart/update/{{ item.product_name }}/{{ item.item_id }}">Update Cart</a>
                            </td>
                            <td>
                                <a href="/add_to_cart/coupon/{{ item.product_name }}/{{ item.item_id }}">Add Coupon</a>
                            </td>
                            <td>
                                <form action="/products/{{ item.product_id }}/{{ uname }}/delete_from_cart" method="post">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <button type="submit">Delete from Cart</button>
                                </form>
                                
                            </td>
                            
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <a href="/checkout/{{ uname }}" class="btn btn-primary">Proceed to Checkout</a>
        {% else %}
            <h1>Your cart is empty.</h1>
        {% endif %}
    </div>

    <!-- Include Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
